@import "./reset.css";
@import "./media.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --green: #007765;
  --grey: #eeeeee;
  --footer: #333333;

  --text-black: var(--black);
  --text-white: var(--white);
  --text-green: var(--green);
  --bg-color-green: var(--green);
  --bg-color-grey: var(--grey);
  --bg-color-white: var(--white);
  --bg-color-footer: var(--footer);
}

/* General */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

.title-1 {
  padding: 48px 0 16px;
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-green);
}

.none {
  display: none !important;
}
/* Nav */

.nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color-green);
  height: 84px;
}

.nav-row {
  margin: 0 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: absolute;
}
.nav-list {
  display: flex;
  text-decoration: none;
  color: var(--text-white);
  /* column-gap: 23px; */
}

.nav-list__item {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.nav-list__link {
  color: var(--text-white);
  padding: 8px;
}

/* .nav-list__item::before a + a {
  content: "|";
} */

/* Jumbotron */

.jumbotron {
  min-height: 403px;
  background-image: url(../img/Jumbotron.png);
  background-size: cover;
  background-position: center center;
}
.jumbotron-title {
  margin: 0 auto;
  padding: 160px 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-white);
}

/* The-Problem */

.the-problem {
  background-color: var(--bg-color-grey);
}

.the-problem__text {
  margin: 0 auto;
  min-height: 488px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.the-problem__text p + p {
  margin-top: 1.5em;
}

/* Hero */
.hero {
  padding: 128px 108px;
  background-image: url(../img/Hero.png);
  background-position: center center;
  background-size: cover;
}
.hero__text {
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-white);
}

/* Introducing PiedPiperCoin */

.ppc {
}

.ppc__logo {
  height: 115px;
  width: 115px;
  float: left;
  margin-right: 48px;
}
.ppc__text {
  padding-bottom: 92px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.ppc__text p + p {
  margin-top: 40px;
}

/* The Team */
.the-team {
  background-color: var(--bg-color-grey);
}

.the-team__title {
  padding: 48px 0 32px;
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-green);
}

.the-team {
}

.the-team__title {
}
.footer {
  /* padding: 50px 0 62px; */
  background-color: var(--bg-color-footer);
}
.footer__text {
  padding: 50px 285px 62px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-white);
}
